#memboard {
    border-radius: 20px;
    background-color: #cccccc;
    border: #999999 1px solid;
    width: 800px;
    height: 540px;
    padding: 24px;
    margin: 0 auto;
}

#entete {
    width: 800px;
    background-color: #cccccc;
    margin: 0 auto;
    border-radius: 20px;
    padding: 24px;
    height: 80px;
}

#memboard > div {
    background: url("logo.svg") no-repeat;
    border: rgba(0, 0, 0, 0.3) 1px solid;
    border-radius: 20px;
    width: 71px;
    height: 71px;
    float: left;
    margin: 10px;
    padding: 20px;
    font-size: 64px;
    cursor: pointer;
    text-align: center;
}

#memboard > div:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}